<div class="wrap" data-aos="fade" data-aos-delay="1000" data-aos-duration="3000">
    <div>
        <h2>Регистрация</h2>
        <a>Введите свои данные</a>
    </div>

    <form (ngSubmit)="submit()" [formGroup]="form">
        <div>
            <input class="input" formControlName="name" placeholder="Имя" type="text">
            <div
                    *ngIf="form.get('name').invalid && form.get('name').touched"
            >
                <small *ngIf="form.get('name').errors.required" class="text-danger">
                    Введите ваше имя
                </small>
                <small *ngIf="form.get('name').errors.minlength" class="text-danger">
                    Имя должно быть не меньше
                    {{form.get('name').errors.minlength.requiredLength}}
                    символов, сейчас
                    {{form.get('name').errors.minlength.actualLength}}
                </small>
            </div>
        </div>
        <div>
            <input class="input" formControlName="nikName" placeholder="Никнейм" type="text">
            <div
                    *ngIf="form.get('nikName').invalid && form.get('nikName').touched"
            >
                <small *ngIf="form.get('nikName').errors.required" class="text-danger">
                    Введите ваш Никнейм
                </small>
                <small *ngIf="form.get('nikName').errors.minlength" class="text-danger">
                    Никнейм должен быть не меньше
                    {{form.get('nikName').errors.minlength.requiredLength}}
                    символов, сейчас
                    {{form.get('nikName').errors.minlength.actualLength}}
                </small>
            </div>
        </div>
        <div>
            <input class="input" formControlName="email" placeholder="Email" type="email">
            <div
                    *ngIf="form.get('email').invalid && form.get('email').touched"
                    class="validation">
                <small *ngIf="form.get('email').errors.required" class="text-danger">
                    Заполните поле email
                </small>
                <small *ngIf="form.get('email').errors.email" class="text-danger">
                    Введите корректный email
                </small>
            </div>
        </div>
        <div>
            <input class="input" formControlName="phone" placeholder="Телефон: 8-XXXXXXXXXX" type="tel">
            <div
                    *ngIf="form.get('phone').invalid && form.get('phone').touched"
            >
                <small *ngIf="form.get('phone').errors.required" class="text-danger">
                    Введите ваш телефон
                </small>
                <small *ngIf="form.get('phone').errors.pattern" class="text-danger">
                    Введите ваш телефон в формате: 8 - XXXXXXXXXX
                </small>
            </div>
        </div>
        <div>
            <input class="input" formControlName="password" placeholder="Пароль" type="password">
            <div
                    *ngIf="form.get('password').invalid && form.get('password').touched"
                    class="validation">
                <small *ngIf="form.get('password').errors.required" class="text-danger">
                    Введите пароль
                </small>
                <small *ngIf="form.get('password').errors.minlength" class="text-danger">
                    Пароль должен быть больше
                    {{form.get('password').errors.minlength.requiredLength}}
                    символов, сейчас
                    {{form.get('password').errors.minlength.actualLength}}
                </small><br>
                <small *ngIf="form.get('password').errors.pattern" class="text-danger">
                    Пароль должен содержать строчные и заглавные латинские буквы, а так же цифры
                </small>
            </div>
        </div>
        <br>
        <input [(ngModel)]="check" class="checkbox" formControlName="check" id="checkbox" style="margin-left: -200px"
               type="checkbox">
        <label for="checkbox" style="margin-left: -160px">Я даю своё согласие на обработку персонаьных данных</label>

        <button [disabled]="form.invalid || !check" class="btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
    </form>

    <p style="color: #939292; margin-top: 5%">Есть аккаунт? <a class="href" routerLink="login">Войти</a></p>
</div>
