<div class="container">
    <div class="disp">
        <h2>Личный кабинет</h2>
        <input type="text" class="input_edit left" placeholder="Поиск..." [(ngModel)]="search">
    </div>
    <hr>
    <app-fotm-contact
            (onAdd)="updateContact($event)"
    ></app-fotm-contact>
    <hr>

    <app-contact
            (onRemove)="removeContact($event)"
            (onUpdate)="update($event)"
            *ngFor="let c of contacts | filter:search"
            [contact]="c"
    ></app-contact>
</div>
